<%= form_with(model: patient) do |f| %>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <%= f.label :first_name, "First name" %>
      <%= f.text_field :first_name, class: "w-full p-2 border rounded" %>
    </div>

    <div>
      <%= f.label :last_name, "Last name" %>
      <%= f.text_field :last_name, class: "w-full p-2 border rounded" %>
    </div>

    <div>
      <%= f.label :date_of_birth, "Date of birth" %>
      <%= f.date_field :date_of_birth, class: "w-full p-2 border rounded" %>
    </div>

    <div>
      <%= f.label :gender, "Gender" %>
      <%= f.select :gender, ['Male', 'Female', 'Other'], { prompt: 'Select gender' }, class: "w-full p-2 border rounded" %>
    </div>

    <div>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "w-full p-2 border rounded" %>
    </div>

    <div>
      <%= f.label :phone, "Phone" %>
      <%= f.telephone_field :phone, class: "w-full p-2 border rounded" %>
    </div>

    <div class="col-span-2">
      <%= f.label :address, "Address" %>
      <%= f.text_area :address, rows: 3, class: "w-full p-2 border rounded" %>
    </div>

    <div class="col-span-2">
      <%= f.label :medical_history, "Medical history" %>
      <%= f.text_area :medical_history, rows: 3, class: "w-full p-2 border rounded" %>
    </div>
  </div>

  <div class="mt-4 flex justify-end gap-4">
    <%= link_to 'Cancel', patients_path, class: "px-4 py-2 bg-gray-200 rounded hover:bg-gray-300" %>
    <%= f.submit "Submit", class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
  </div>
<% end %> 