<h1>Ajouter un patient</h1>

<%= form_with model: @patient, local: true do |form| %>
  <div>
    <%= form.label :first_name, "Prénom" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, "Nom" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :birth_date, "Date de naissance" %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>

<div>
  <%= link_to "Retour à la liste des patients", patients_path, class: "button" %>
</div>