<!DOCTYPE html>
<html>
  <head>
    <title>LabManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>

  <body class="bg-gray-100">
    <%= render "shared/header" if user_signed_in? %>
    <main class="min-h-screen pt-16">
      <%= render "shared/flash" if flash.any? %>
      <%= yield %>
    </main>
  </body>
</html>
